Repository mzkmnk/claude-pal: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

lefthook.yml:

pre-push:
  commands:
    linter:
      run: npm run lint
    prettier:
      run: npm run format:check
    build:
      run: npm run build

pre-commit:
  commands:
    format:
      glob: "*.{ts,html,scss,json}"
      run: npx prettier --write {staged_files} && git add {staged_files}
    lint:
      glob: "*.{ts,html}"
      run: npx eslint {staged_files}

feat: SSH鍵管理サービスの実装（iOS対応）
  package-lock.json
  package.json
  src/app/core/services/index.ts
  src/app/core/services/key-manager.service.spec.ts
  src/app/core/services/key-manager.service.ts
  src/app/core/services/key-pair.interface.ts
Due: format, lint

feat: SSH鍵管理サービスの完全実装
  .claude/plan/02_implementation_todo.md
  ios/App/App/Info.plist
  ios/App/Podfile
  ios/App/Podfile.lock
  package-lock.json
  package.json
  src/app/core/services/key-manager.service.spec.ts
  src/app/core/services/key-manager.service.ts
  src/app/tab1/tab1.page.html
  src/app/tab1/tab1.page.ts
Due: format, lint

feat: ヘッドレステストの設定とCIへのテストジョブ追加
  .github/workflows/ci.yml
  karma.conf.js
  package.json
Due: format

fix: 生体認証の動作確認ができるようにTab1を修正
  ios/App/App/Info.plist.orig
  src/app/tab1/tab1.page.ts
Due: format, lint

fix: Face ID統合の完成とプロダクション向け最適化
  ios/App/App.xcodeproj/project.pbxproj
  ios/App/App/Info.plist
  ios/App/App/Info.plist.orig
  package.json
  src/app/core/services/key-manager.service.ts
Due: format, lint

fix: Claude Code ReviewワークフローをPRのみに限定
  .github/workflows/claude-code-review.yml
Due: none

feat: SSH鍵管理サービスの実装（iOS対応） (#4)
  .claude/plan/02_implementation_todo.md
  .github/workflows/ci.yml
  .github/workflows/claude-code-review.yml
  ios/App/App.xcodeproj/project.pbxproj
  ios/App/App/Info.plist
  ios/App/Podfile
  ios/App/Podfile.lock
  karma.conf.js
  package-lock.json
  package.json
  src/app/core/services/index.ts
  src/app/core/services/key-manager.service.spec.ts
  src/app/core/services/key-manager.service.ts
  src/app/core/services/key-pair.interface.ts
  src/app/tab1/tab1.page.html
  src/app/tab1/tab1.page.ts
Due: format, lint

feat: ストレージサービスの実装
  src/app/core/services/index.ts
  src/app/core/services/native-storage.service.spec.ts
  src/app/core/services/native-storage.service.ts
  src/app/core/services/storage.factory.spec.ts
  src/app/core/services/storage.factory.ts
  src/app/core/services/storage.providers.ts
  src/app/core/services/storage.service.ts
  src/app/core/services/web-storage.service.spec.ts
  src/app/core/services/web-storage.service.ts
  src/main.ts
Due: format, lint

feat: ストレージサービスのデモUI実装
  .claude/plan/02_implementation_todo.md
  src/app/tab2/tab2.page.html
  src/app/tab2/tab2.page.spec.ts
  src/app/tab2/tab2.page.ts
Due: format, lint

feat: ストレージサービスの拡張機能実装
  .claude/plan/02_implementation_todo.md
  src/app/core/models/app-settings.interface.ts
  src/app/core/models/connection-profile.interface.ts
  src/app/core/models/index.ts
  src/app/core/services/app-settings.service.spec.ts
  src/app/core/services/app-settings.service.ts
  src/app/core/services/encryption.service.spec.ts
  src/app/core/services/encryption.service.ts
  src/app/core/services/index.ts
  src/app/core/services/migration.service.spec.ts
  src/app/core/services/migration.service.ts
  src/app/core/services/profile-storage.service.spec.ts
  src/app/core/services/profile-storage.service.ts
Due: format, lint

feat: ストレージサービス動作確認用デモUI実装
  src/app/tab3/tab3.page.html
  src/app/tab3/tab3.page.ts
Due: format, lint

docs: プラットフォーム対応状況の明記
  .claude/plan/02_implementation_todo.md
Due: none

fix: Tab3のHTMLテンプレートlintエラー修正
  eslint.config.js
  src/app/tab3/tab3.page.html
Due: format, lint

fix: Prettierのフォーマットエラーを一時的に回避
  .prettierignore
  src/app/tab3/tab3.page.html
Due: format, lint

fix: Prettierのangularパーサーバグを根本的に解決
  .prettierignore
  .prettierrc
  src/app/tab3/tab3.page.html
Due: format, lint

docs: CLAUDE.mdにAngularベストプラクティスを追加
  CLAUDE.md
Due: none

fix: コードレビュー指摘事項の修正
  src/app/core/services/app-settings.service.ts
  src/app/core/services/encryption.service.ts
  src/app/core/services/profile-storage.service.ts
Due: format, lint

feat: ストレージサービスの拡張機能実装 (#5)
  .claude/plan/02_implementation_todo.md
  .prettierrc
  CLAUDE.md
  eslint.config.js
  src/app/core/models/app-settings.interface.ts
  src/app/core/models/connection-profile.interface.ts
  src/app/core/models/index.ts
  src/app/core/services/app-settings.service.spec.ts
  src/app/core/services/app-settings.service.ts
  src/app/core/services/encryption.service.spec.ts
  src/app/core/services/encryption.service.ts
  src/app/core/services/index.ts
  src/app/core/services/migration.service.spec.ts
  src/app/core/services/migration.service.ts
  src/app/core/services/native-storage.service.spec.ts
  src/app/core/services/native-storage.service.ts
  src/app/core/services/profile-storage.service.spec.ts
  src/app/core/services/profile-storage.service.ts
  src/app/core/services/storage.factory.spec.ts
  src/app/core/services/storage.factory.ts
  src/app/core/services/storage.providers.ts
  src/app/core/services/storage.service.ts
  src/app/core/services/web-storage.service.spec.ts
  src/app/core/services/web-storage.service.ts
  src/app/tab2/tab2.page.html
  src/app/tab2/tab2.page.spec.ts
  src/app/tab2/tab2.page.ts
  src/app/tab3/tab3.page.html
  src/app/tab3/tab3.page.ts
  src/main.ts
Due: format, lint

deps: ターミナル関連とセキュリティパッケージのインストール
  package-lock.json
  package.json
Due: format

feat: プロファイル管理サービスの実装
  src/app/core/models/app-settings.interface.ts
  src/app/core/services/profile.service.spec.ts
  src/app/core/services/profile.service.ts
Due: format, lint

feat: SSH接続サービスの実装（モック実装）
  src/app/core/services/ssh.service.spec.ts
  src/app/core/services/ssh.service.ts
Due: format, lint

fix: リンター警告の修正とTODOファイル更新
  .claude/plan/02_implementation_todo.md
  src/app/core/services/ssh.service.ts
Due: format, lint

docs: JSDocコメントを日本語に更新
  src/app/core/models/connection-profile.interface.ts
  src/app/core/services/profile.service.ts
  src/app/core/services/ssh.service.ts
Due: format, lint

docs: CLAUDE.mdにJSDocコメント規約を追加
  CLAUDE.md
Due: none

feat: Phase2 SSH接続サービスの実装 (#6)
  .claude/plan/02_implementation_todo.md
  CLAUDE.md
  package-lock.json
  package.json
  src/app/core/models/app-settings.interface.ts
  src/app/core/models/connection-profile.interface.ts
  src/app/core/services/profile.service.spec.ts
  src/app/core/services/profile.service.ts
  src/app/core/services/ssh.service.spec.ts
  src/app/core/services/ssh.service.ts
Due: format, lint

feat: ターミナルコンポーネントの実装
  .claude/plan/02_implementation_todo.md
  package-lock.json
  package.json
  src/app/shared/components/terminal/index.ts
  src/app/shared/components/terminal/terminal-gesture.service.spec.ts
  src/app/shared/components/terminal/terminal-gesture.service.ts
  src/app/shared/components/terminal/terminal-options.interface.ts
  src/app/shared/components/terminal/terminal.component.scss
  src/app/shared/components/terminal/terminal.component.spec.ts
  src/app/shared/components/terminal/terminal.component.ts
  src/app/tab2/tab2.page.html
  src/app/tab2/tab2.page.scss
  src/app/tab2/tab2.page.ts
Due: format, lint

feat: Phase3 ターミナルコンポーネントの実装
  src/app/shared/components/terminal/terminal-gesture.service.spec.ts
  src/app/shared/components/terminal/terminal.component.spec.ts
  src/app/tab2/tab2.page.spec.ts
  src/test-helpers/xterm-mocks.ts
Due: format, lint

feat: ターミナルコンポーネントの実装 (#7)
  .claude/plan/02_implementation_todo.md
  package-lock.json
  package.json
  src/app/shared/components/terminal/index.ts
  src/app/shared/components/terminal/terminal-gesture.service.spec.ts
  src/app/shared/components/terminal/terminal-gesture.service.ts
  src/app/shared/components/terminal/terminal-options.interface.ts
  src/app/shared/components/terminal/terminal.component.scss
  src/app/shared/components/terminal/terminal.component.spec.ts
  src/app/shared/components/terminal/terminal.component.ts
  src/app/tab2/tab2.page.html
  src/app/tab2/tab2.page.scss
  src/app/tab2/tab2.page.spec.ts
  src/app/tab2/tab2.page.ts
  src/test-helpers/xterm-mocks.ts
Due: format, lint

feat: メッセージコンポーネントの実装
  .claude/plan/02_implementation_todo.md
  src/app/shared/components/message/index.ts
  src/app/shared/components/message/message.component.html
  src/app/shared/components/message/message.component.scss
  src/app/shared/components/message/message.component.spec.ts
  src/app/shared/components/message/message.component.ts
  src/app/shared/components/message/message.interface.ts
  src/app/tab3/tab3.page.html
  src/app/tab3/tab3.page.scss
  src/app/tab3/tab3.page.ts
Due: format, lint

chore: run formatter
  src/app/tab3/tab3.page.html
  src/app/tab3/tab3.page.scss
  src/app/tab3/tab3.page.ts
Due: format, lint

feat: メッセージコンポーネントの実装 (#8)
  .claude/plan/02_implementation_todo.md
  src/app/shared/components/message/index.ts
  src/app/shared/components/message/message.component.html
  src/app/shared/components/message/message.component.scss
  src/app/shared/components/message/message.component.spec.ts
  src/app/shared/components/message/message.component.ts
  src/app/shared/components/message/message.interface.ts
  src/app/tab3/tab3.page.html
  src/app/tab3/tab3.page.scss
  src/app/tab3/tab3.page.ts
Due: format, lint

docs: iOS専用SSH実装計画とTODO更新
  .claude/plan/02_implementation_todo.md
  .claude/research/16_ssh_key_management_focused.md
Due: none

docs: iOS専用SSH実装計画とTODO更新 (#9)
  .claude/plan/02_implementation_todo.md
  .claude/research/16_ssh_key_management_focused.md
Due: none

feat: iOS専用SSH Pluginの実装
  ios/App/App/SSHPlugin.m
  ios/App/App/SSHPlugin.swift
  src/app/core/plugins/ssh-plugin.ts
  src/app/tab3/tab3.page.html
  src/app/tab3/tab3.page.ts
Due: format, lint

fix: SSH Plugin実装の修正とTODO更新
  .claude/plan/02_implementation_todo.md
  src/app/tab3/tab3.page.ts
Due: format, lint

chore: todoの調整
  .claude/plan/02_implementation_todo.md
Due: none

feat: iOS専用SSH Pluginの実装 (#10)
  .claude/plan/02_implementation_todo.md
  ios/App/App/SSHPlugin.m
  ios/App/App/SSHPlugin.swift
  src/app/core/plugins/ssh-plugin.ts
  src/app/tab3/tab3.page.html
  src/app/tab3/tab3.page.ts
Due: format, lint

feat: iOS SSH Plugin実装（GZ-SwiftSH統合）
  .claude/plan/02_implementation_todo.md
  ios/App/App.xcodeproj/project.pbxproj
  ios/App/App/App-Bridging-Header.h
  ios/App/App/SSHPlugin.swift
  ios/App/AppTests/MockTest.swift
  ios/App/AppTests/SSHPluginTests.swift
  ios/App/Podfile
  ios/App/Podfile.lock
Due: none

fix: GZ-SwiftSH APIに合わせてSSHPluginを修正
  ios/App/App/SSHPlugin.swift
Due: none

fix: iOS SSH Plugin実装のビルドエラー修正
  ios/App/App.xcodeproj/project.pbxproj
  ios/App/App/SSHPlugin.swift
Due: none
